/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8DA8F5;
    font-family: Arial, sans-serif;
}

/* CONTAINER PRINCIPAL */
.container-login{
    width: 900px;
    height: 550px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.15);
}

/* LADO ESQUERDO */
.left-side{
    width: 50%;
    background: #1E49D8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.left-side img{
    width: 85%;
    max-width: 350px;
}

/* LADO DIREITO */
.right-side{
    width: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FORM */
.formulario{
    width: 320px;
}

.formulario h2{
    text-align: center;
    color: #1E49D8;
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: bold;
}

.formulario p{
    text-align: center;
    color: #777;
    font-size: 14px;
    margin-bottom: 25px;
}

/* INPUTS */
.input-group{
    margin-bottom: 18px;
}

.input-group input{
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    transition: 0.3s;
}

.input-group input:focus{
    border-color: #1E49D8;
    box-shadow: 0px 0px 5px rgba(30,73,216,0.2);
}

/* BOTÃO */
button{
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: #1E49D8;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: #1639aa;
}

/* LINK CADASTRO */
.cadastro-link{
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
}

.cadastro-link a{
    text-decoration: none;
    color: #1E49D8;
    font-weight: bold;
}

.cadastro-link a:hover{
    text-decoration: underline;
}